*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Rubik', sans-serif; */
}
/* navigation bar section styling
logo and navigation link
*/
.nav-bar{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom:70px ;
    /* background-color: maroon; */
    background: hsla(0, 100%, 25%, 1);
    background: linear-gradient(225deg, hsla(0, 100%, 25%, 1) 0%, hsla(0, 100%, 17%, 1) 100%);
    background: -moz-linear-gradient(225deg, hsla(0, 100%, 25%, 1) 0%, hsla(0, 100%, 17%, 1) 100%);
    background: -webkit-linear-gradient(225deg, hsla(0, 100%, 25%, 1) 0%, hsla(0, 100%, 17%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#800000", endColorstr="#550000", GradientType=1 );
    color: white;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.nav-logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: wheat;
}
.logo-name{
    font-family: 'Allura', cursive;
    color: wheat;
    margin-left: 5px;
}
.nav-links{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    margin-right: 10px;
    text-decoration: none;
}
.nav-item:hover{
    font-size: larger;
    font-weight: bolder;
}
.nav-item:visited{
    color: inherit;
}
.nav-item:active{
    font-size:larger;
    font-style: italic;
    color: red;
}
  /* style main section of home page */
#main-section{
    /* border: 1px solid black; */
    display: flex;
    margin: 40px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
/* style main bio text section */
.home-text-section{
    /* border: 1px solid red; */
    margin: 20px;
    padding: 10px;
}

.header-intro{
    /* border: 1px solid green; */
    margin-bottom: 10px;
}
.highlighted-text{
    color: maroon;
    font-family: 'Courier Prime', monospace;
    font-size: larger;
}
.description{
    /* border: 1px solid green; */
    margin-bottom: 15px;
}
.about-me-btn{
    background-color: maroon;
    color: white;
    padding: 5px 10px;
    /* font-size: large; */
    border-radius: 15px;
    border: 1px solid wheat;
}


/* style image section */
.home-img-section{
    background-color: black;
    border: 1px solid green;
    width: 100vw;
    height: 50vh;
}
/* .profile-img{
    width: 60%;
    height: auto;
} */